<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="GnuCashDatabase" connectionString="metadata=res://*/GnuCash.csdl|res://*/GnuCash.ssdl|res://*/GnuCash.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Users\otac0n\Sync\data\finances.gnucash&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>